<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      h1{
        text-shadow: 0.5px 1px 8px rgb(179, 34, 34);
       }
        #mainnav .nav-link{
           font-size:20px;
           color:rgb(230, 223, 223);
          }
       #mainnav .nav-link:hover{
             color:cyan;
            }
            .dogimg{
            transition: 0.5s ease-in-out;
        }  
        .dogimg:hover{
            transform: translateY(-1.5px);
            box-shadow: 2px 2px 6px 2px red;
        }
        body{
            overflow-x: hidden;
        }
    </style>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>mastiff nutritional guide</title>
</head>
<body>
  <nav id="mainnav" class="navbar navbar-expand-md navbar-dark bg-danger fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-size: 30px;">
        &#128062;
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/home">HOME</a>
          <a class="nav-link" href="/breeds">BREEDS</a>
          <a class="nav-link" href="/LogIn">ADOPTION</a>
          <% if(m==0) { %> 
          <a class="nav-link" href="/update">UPDATE</a>
          <% } %> 
        </div>
        <% if(m==0) {%>
          <div class="navbar-nav" style="margin-left: auto;">
            <a class="nav-link" href="/LogOut">Log Out</a>
          </div>
          <% } %> 
          <% if(m==1){ %>
            <div class="navbar-nav">
              <a class="nav-link"  href="/register">REGISTER</a>
            </div>
            <% } %> 
      </div>
    </div>
  </nav>
       <section class="container-fluid px-0 py-10" style="background-color: rgb(247, 232, 100);">
        <div class="row">
          <div class="col-lg-6">
           <div class="text-center" style="padding: 0px 8px;">
               <br>
               <br>
               <br>
               <br>
               <h1 style="color:red; padding:2px 0px;font-family:'Times New Roman', Times, serif;font-size:56px;">DIET GUIDANCE</h1>
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4211ba8RlyiK1hC2kWLuTfwPHikthatV9WeF9tfyH1nuBECAKLbMnbLSpEGLSThKzqy4&usqp=CAU" width="84" height="82">
               <br>
               <p style="color:rgb(253, 55, 154);font-size:18px;">
                Since mastiff puppies grow very quickly, it is mandatory to keep an eye on what they are eating. 4-8 weeks of age 3-4 cups per day divided into 3-4 meals, 8-12 weeks 4-6 cups per day divided into 3-4 meals, 
                12-16 weeks 6-8 cups per day divided into 3-4 meals, 6-18 months 8-12 cups per day divided into 2-3 meals. A pure meat based diet is recommended for English Mastiffs. For a puppy, 25-27% protein and 12-15% fat content is recommended. Puppies require more protein as compared to adults as puppies show rapid muscle growth. The diet of your Mastiff should contain 21-25 % protein and 8-10 % fat.
                Vitamin C supplementation is required for English Mastiffs to avoid any chances of hip dysplasia. It is also advised not to provide your pet extra calcium as it may lead to electrolyte imbalance and skeleton disorders.
               </p>  
          </div>
          </div>
          <div class="col-lg-6">
              <br>
              <br>
           <img class="img-fluid dogimg" src="https://assets.orvis.com/is/image/orvisprd/AdobeStock_152403128">
          </div>
        </div>
       </section>
       <section id="ger" class="container-fluid px-0 " style="background-color: rgb(247, 232, 100);">
        <div class="row">
            <div class="col-lg-6 order-2 order-md-1">
                <br>
                <br>
             <img class="img-fluid dogimg" src="https://www.dogsnsw.org.au/media/img/AdversitingBreederImage/637072480566492968_6c3d6cf3-c099-4580-85e5-01d5994b4ce3.jpg">
            </div>
          <div class="col-lg-6 order-1 order-md-2">
           <div class="text-center" style="padding: 0px 8px;">
               <br>
               <br>
               
               <h1 style="color:red; padding:2px 0px;font-family:'Times New Roman', Times, serif;font-size:56px;">ALLERGIES</h1>
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4211ba8RlyiK1hC2kWLuTfwPHikthatV9WeF9tfyH1nuBECAKLbMnbLSpEGLSThKzqy4&usqp=CAU" width="84" height="82">
               <p style="color:rgb(253, 55, 154);font-size:17px;">
                In humans, an allergy to pollen, mold, or dust makes people sneeze and their eyes itch. In dogs, rather than sneeze, allergies make their skin itchy. We call this skin allergy “atopy”, and Mastiffs often have it. Commonly, the feet, belly, folds of the skin, and ears are most affected. Symptoms typically start between the ages of one and three and can get worse every year. Licking the paws, rubbing the face, and frequent ear infections are the most common signs. The good news is that there are many treatment options available for this condition.
                Allergies, swimming, overgrowth of hair in the ear canals, or an accumulation of earwax can all predispose your dog to ear infections, which are painful and annoying. Mastiffs are very often afflicted by allergies, which cause itching and inflammation in the ears and elsewhere. The earlier we diagnose this disease, the less discomfort and pain he will suffer. Be sure to call us if you notice him scratching or shaking his head, a foul odor from the ears, or if his ears seem painful to the touch. By monitoring for ear infections and treating them early, we also reduce the likelihood of eardrum damage that can lead to deafness. Most ear infections tend to recur until we work together to control the underlying cause.

            </p>
          </div>
          </div>
        </div>
        </section>
               <section class="container-fluid px-0 py-10" style="background-color: rgb(247, 232, 100);">
        <div class="row">
          <div class="col-lg-6">
           <div class="text-center" style="padding: 0px 8px;">
               <br>
               <br>
              
               <h1 style="color:red; padding:2px 0px;font-family:'Times New Roman', Times, serif;font-size:56px;">FEEDING CAUTIONS</h1>
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4211ba8RlyiK1hC2kWLuTfwPHikthatV9WeF9tfyH1nuBECAKLbMnbLSpEGLSThKzqy4&usqp=CAU" width="84" height="82">
               <br>
               <p style="color:rgb(253, 55, 154);font-size:17px;">
                How much your adult dog eats depends on their size, age, build, metabolism, and activity level. Dogs are individuals, just like people, and they don't all need the same amount of food. It almost goes without saying that a highly active dog will need more than a couch potato dog. The quality of dog food you buy also makes a difference--the better the dog food, the further it will go toward nourishing your dog and the less of it you'll need to shake into your dog's bowl.
                Mastiffs are sloppy drinkers and leave plenty of backwash--drool--in their bowls. Rinse bowls daily or more often as needed.
                Keep your Mastiff in good shape by measuring their food and feeding them twice a day rather than leaving food out all the time.
                Mastiffs are prone to gastric torsion, also known as bloat. Factors that contribute to bloat include eating a large meal and then drinking large amounts of water, heavy exercise directly before or after a meal, giving food in raised feeding dishes, and stress. Keep these things in mind when you feed your Mastiff.
            </p>  
          </div>
          </div>
          <div class="col-lg-6">
              <br>
              <br>
           <img class="img-fluid dogimg" src="https://www.dogcarehelp.com/wp-content/uploads/2015/07/neapolitan-mastiff.jpg">
          </div>
        </div>
       </section>
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>