<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <style>
        #outer::after{
        content:"";
        background: url(https://coolwallpapers.me/picsup/5269631-dog-grass-tree-walk-canine-pet-animal-standing-hunting-field-outdoors-nature-bulgaria-weim-hanna-forest-weimaraner-gun-dog-deerhound-ranger-free-images.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter:blur(2px);
        -webkit-filter: blur(2px);
        top:0;
        bottom:0;
        left:0;
        right:0;
        position: absolute;
        z-index: -1;
         }
         #outer{
             display: flex;
             justify-content: center;
             margin-top: 210px;
         }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="outer">
        <section style="width:500px;height:280px;border:2px solid yellow;border-radius: 5%;">
            <div class="text-center">
                <h1 style="color:yellow;font-size:42px;font-family: 'Times New Roman', Times, serif;letter-spacing: 2px;">ERROR &#128543</h1>
            </div>
            <br>
            <div class="text-center" style="padding:0px 10px;"><span style="color:yellow;font-size:21px;font-family: 'Times New Roman', Times, serif;">
                You have to select atleast one of the given choices in order for us to filter out suitable breeds for you. 
            </span></div>
            <br>
            <div class="text-center">
                <form action="/AdoptionGuide" method="GET">
                <button class="btn btn-primary">GO BACK</button>
                </form>
            </div>
            <br>
            <div class="text-center">
                <form action="/home" method="GET">
                <button class="btn btn-danger">GO TO HOME PAGE</button>
                </form>
            </div>
    </div>
</body>
</html>